.contenedor-detail {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.contenedor-2 {
  width: 900px;
  background: #ccc;
  border: 2px solid black;
  border-radius: 15px;
}

.img-detail img {
  width: 400px;
  height: 300px;
  border: 2px solid black;
  border-radius: 15px;
}
